/* ================= BACKGROUND ================= */
.home-bg {
  min-height: 100vh;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

/* ================= LOGIN CARD ================= */
.login-wrapper {
  border-radius: 18px;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  max-width: 1100px;   
  min-height: 520px;   
}

/* ================= FORM ================= */
.form-label {
  font-size: 15px;
  color: #495057;
}

.form-control {
  height: 48px;        
  border-radius: 10px;
  font-size: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}


button {
  height: 48px;        
  font-weight: 600;
  border-radius: 10px;
  font-size: 15px;
}


.login-image {
  width: 100%;
  max-height: 500px;   
  object-fit: contain;
}


@media (max-width: 992px) {
  .login-wrapper {
    max-width: 950px;
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    border-radius: 14px;
    min-height: auto;
  }

  .login-image {
    max-height: 320px;
    padding: 20px 0;
  }
}

/* ================= MOBILE OPTIMIZATION ================= */
@media (max-width: 576px) {
  .home-bg {
    padding: 16px;
  }

  .login-image {
    display: none; 
  }
}
